body {
	background-color: #1E1E1E;
	font-family: 'Ubuntu',"Helvetica Neue",Helvetica,Arial,sans-serif;
}

.header {
	background: #171717 -moz-linear-gradient(center top, #171717, #1a1a1a) repeat-x;
	
	width: 100%;
	border-bottom: 1px solid #2E2E2E;
	-webkit-box-shadow: 0px 5px 5px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 5px 5px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 5px 5px rgba(50, 50, 50, 0.25);
}

.header .header-inner {
	padding: 20px 0;
	display: table;
}

.header .title h1 {
    font-size: 38px;
    color: rgb(238, 238, 238);
    letter-spacing: -1px;
    line-height: 40px;
    font-weight: 400;
    margin: 5px 0;
}

.header .title h1 span {
    font-weight: 200;
    color: #C2E6EC;
}

.header .title a:hover {
    text-decoration: none;
}

.title {
	padding: 0 20px;
}

.title div {
	color: #777;
}

.title .subtitle {
	font-variant: small-caps;
}

.navbar {
	display: table-cell;
	margin-bottom: 0px;
}

.navbar > div {
	display: inline-block;
    margin-top: 15px;
    position: relative;
}

.navbar span {
	overflow: hidden;
}

.navbar a {
	color: #777;
	padding: 10px;
	border: 1px solid transparent;
	font-variant: small-caps;
    
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

.navbar a:hover {
	color: #C2E6EC;
	background: #1E1E1E;
	border-radius: 10px;
	border: 1px solid #2E2E2E;
	text-decoration: none;
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.4);
    box-shadow: 0 5px 5px rgba(50, 50, 50, 0.25);
}

.footer {
	background: #171717 -moz-linear-gradient(center top, #1a1a1a, #171717) repeat-x;
	width: 100%;
	border-top: 1px solid #2E2E2E;
	position: fixed;
	bottom: 0;
	left: 0;
	color: #777;
}

.footer-inner {
	padding: 16px 0;
}

.footer address {
	margin-bottom: inherit;
}

.footer .links {
	margin-top: 30px;
	text-align: right;
}

.footer .links a {
	margin: 0 5px;
}

.logo {
	overflow: hidden; 
	border-radius: 10px; 
	border: 3px solid rgb(194, 230, 236); 
	box-shadow: 0px 4px 10px rgb(80, 80, 80);
	display: inline-block;
}

.logo img {
	display: block;
}

.content {
	color: #DDD;
	padding: 10px 10px 92px;
}

.section {
	overflow: hidden;
    margin-bottom: 10px;
}

/*.section .heading {
    font-variant: small-caps;
    margin: 5px 0;
}

.section .heading h3 {
    margin-bottom: 0px;
    line-height: 30px;
    font-weight: 300;
}*/

/*.section .heading {
    font-variant: small-caps;
    margin: 3px 0 0;
    line-height: 30px;
    font-weight: 300;
    font-size: 25px;
}*/

.section h3 {
	font-variant: small-caps;
	margin: 3px 0 0;
	line-height: 30px;
    font-weight: 300;
    font-size: 25px;
}

.section hr {
	-moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    border-color: -moz-use-text-color -moz-use-text-color #2E2E2E;
    border-image: none;
    border-style: none none solid;
    border-width: medium medium 1px;
    height: 0;
    width: 100%;
	margin: 20px 0 0 15px;
    
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}

.header-row:hover hr {
    border-color: -moz-use-text-color -moz-use-text-color rgba(194, 230, 236, 0.45);
    box-shadow: 0 0 5px rgba(194, 230, 236, 0.25);
}

/*.slide {
    position: relative;
}
.slide div {
    background-color: rgba(0, 0, 0, 0.6);
    width: 210px;
    position: absolute;
    bottom: 0;
    margin-bottom: 5px;
}*/

/*.thumbnails > li:first-child {
    margin-left: 0px;
}*/

.thumbnails > li {
    margin-left: 10px;
    margin-right: 10px;
}

.jcarousel-scroll {
    float: left;
    width: 10px;
    padding: 75px 10px;
    text-align: center;
    position: relative;
}

.jcarousel-scroll a {
    color: #DDD;
    font-size: 24px;
}

.jcarousel-scroll a:hover {
    text-decoration: none;
    color: #C2E6EC;
}

.ca-nav span {
    background: url("../img/arrows.png") no-repeat scroll left top transparent;
    cursor: pointer;
    height: 38px;
    left: 5px;
    margin-top: -10px;
    opacity: 0.7;
    position: absolute;
    text-indent: -9000px;
    top: 50%;
    width: 25px;
    
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}
.ca-nav span.ca-nav-next {
    background-position: right top;
    left: auto;
    right: 5px;
}
.ca-nav span:hover {
    opacity: 1;
}

.slide {
	position: relative;
    width: 200px;
    
    -o-transition:.4s;
    -ms-transition:.4s;
    -moz-transition:.4s;
    -webkit-transition:.4s;
    transition:.4s;
}
.slide div {
	background-color: rgba(0, 0, 0, 0.6);
    width: 95%;
	position: absolute;
	bottom: 0;
    margin-bottom: 5px;
}
.slide img {
    width: inherit;
}

.slide h4 {
	font-size: 18px;
	padding: 10px 0 0 20px;
}
.slide p {
	font-size: 14px;
	padding: 0 0 10px 20px;
}
.slide h4, .slide p {
	color: white;
	margin: 0;
}

.slide a.thumbnail:hover, .slide a.thumbnail:focus {
    border-color: rgb(194, 230, 236);
    box-shadow: 0 1px 4px rgba(194, 230, 236, 0.25);
}

.slide a.thumbnail:hover h4, .slide a.thumbnail:focus h4, 
.slide a.thumbnail:hover p, .slide a.thumbnail:focus p {
    color: rgb(194, 230, 236);
}

.carousel {
    overflow: hidden;
    width: 880px;
    float: left;
}
.carousel-outer {
    margin-left: 20px;
}

.videoUiWrapper {
    margin-left: 2px;
}